<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head')%>
<body>

  <%-include('../partials/header')%>
  <main class="main">
    <%if(locals.pageType !=='Home' ){%>
      <%-include('../partials/sidebar')%>
    <%}%>
    <% if(locals.error){ %>
      <%- include('../partials/error') %>
    <%}else if(locals.pageType){ %>
      <%- include('../partials/page-intro') %>
    <%}else{%>
      <%- include('../partials/card') %>
    <%}%>
  </main>
  <%-include('../partials/footer')%>

</body>
</html>